<!DOCTYPE html>
<html>
<head>
  <title>Tstfeedback</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= feedback_tab(:position => 'right') %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
